body {
    padding-bottom: 10px;
}

#error-message {
    display: none;
}

.map-container {
    overflow-x: auto;
}

#map {
    width: 768px;
    height: 576px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}



/*
 * Hide high-res map rendering
 */
.hidden-map {
    overflow: hidden;
    height: 0;
    width: 0;
    position: fixed;
}



/*
 * Loading spinner
 * Based on http://codepen.io/lixquid/pen/ybjmr
 */
#spinner {
    width: 24px;
    height: 24px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #333;
    border-left: 2px solid #333;
    -webkit-animation: spinner 0.75s ease infinite;
            animation: spinner 0.75s ease infinite;
    border-radius: 100%;
    position: relative;
    top: 8px;
    margin-left: 10px;
    display: none;
}
@-webkit-keyframes spinner {
    to {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
}
@keyframes spinner {
    to {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
}

#customStyle, [for=customStyle] {
    display: none;
}
